@model BookCatalog.Web.Models.Book

@{
    ViewBag.Title = "Add New Book";
}

<h2>&#10010; Add New Book</h2>

@using (Html.BeginForm("Create", "Books", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="error-box" style="display:@(ViewData.ModelState.IsValid ? "none" : "block")">
        @Html.ValidationSummary(true, "Please fix the errors below:")
    </div>

    <div class="classic-form">
        <table cellspacing="4" cellpadding="2">
            <tr>
                <td class="label-cell">@Html.LabelFor(m => m.Title):</td>
                <td class="field-cell">
                    @Html.TextBoxFor(m => m.Title, new { required = "required", maxlength = "200" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { style = "color:#cc0000; font-size:10px;" })
                </td>
            </tr>
            <tr>
                <td class="label-cell">@Html.LabelFor(m => m.Author):</td>
                <td class="field-cell">
                    @Html.TextBoxFor(m => m.Author, new { required = "required", maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.Author, "", new { style = "color:#cc0000; font-size:10px;" })
                </td>
            </tr>
            <tr>
                <td class="label-cell">@Html.LabelFor(m => m.ISBN):</td>
                <td class="field-cell">
                    @Html.TextBoxFor(m => m.ISBN, new { maxlength = "13" })
                    @Html.ValidationMessageFor(m => m.ISBN, "", new { style = "color:#cc0000; font-size:10px;" })
                </td>
            </tr>
            <tr>
                <td class="label-cell">@Html.LabelFor(m => m.PublishedYear):</td>
                <td class="field-cell">
                    @Html.TextBoxFor(m => m.PublishedYear, new { style = "width:80px;", type = "number", min = "1800", max = "2100" })
                    @Html.ValidationMessageFor(m => m.PublishedYear, "", new { style = "color:#cc0000; font-size:10px;" })
                </td>
            </tr>
            <tr>
                <td class="label-cell">@Html.LabelFor(m => m.IsActive):</td>
                <td class="field-cell">
                    @Html.CheckBoxFor(m => m.IsActive)
                    <span style="font-size:10px; color:#666666;">(check if book is available)</span>
                </td>
            </tr>
            <tr>
                <td class="label-cell">&nbsp;</td>
                <td class="field-cell" style="padding-top:6px;">
                    <input type="submit" value="[ Save Book ]" />
                    &nbsp;
                    <a href="@Url.Action("Index", "Books")" class="btn-classic">[ Cancel ]</a>
                </td>
            </tr>
        </table>
    </div>
}
